$bg-color: #f5f6fa;
$action-color: #4c52f7;
$action-dark-color: #3539ac;
$action-light-color: #6f74f8;
$fnt-color: #31334e;
$secondary-1-color: #9568ff;
$secondary-2-color: #eb62d0;
$secondary-3-color: #1eba62;
